<!--design structure our home page-->

<div class="row">

 <!-- using ngclass to manapulate of html with condition
     note:inside our home.component.ts we code our condition  -->
  <!-- <h1 [ngClass]="isSucess ? successColor : errorColor "> 
    Testing out our code</h1> -->
    
     <!-- using ngStyle to manapulate html with condition
     inside our home.component.ts we code our condition  -->
    <!-- <h1 [ngStyle]="currentStyle"> 
      Testing out our code</h1> -->

           <!-- using attribute directive to manapulate html 
     inside our directive.header.component.ts we code our style  -->
      <!-- <h2 appHeader> 
        Testing out our code</h2> -->
        
           <!-- using attribute ngIf to manapulate html 
     inside our directive.header.component.ts we code our style  -->
        <!-- <h2 appHeader *ngIf="isvisible"> 
          Testing out our code</h2> -->
  
             <!-- using attribute ngSwitch to manapulate html 
     inside our directive.header.component.ts we code our style  -->
         <!-- <div [ngSwitch]="integerValue">
               <h2 *ngSwitchCase="0">The value is {{integerValue}}</h2>
               <h2 *ngSwitchCase="10">The value is {{integerValue}}</h2>
               <h2 *ngSwitchCase="20">The value is {{integerValue}}</h2>
               <h2 *ngSwitchCase="30">The value is {{integerValue}}</h2>
               <h2 *ngSwitchDefault>The value is the defualt one</h2>
         </div> -->
            
         <!-- <h2 *appMyCustomIf="isActive">The content is been
           rendered by myCustomizeIf</h2> -->

         
           
    <div class="col-md-8"> <!--created 8 col middium screen-->
        <div id="carouselExampleCaptions" class="carousel slide">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="../../../assets/images/Slider.jpg" width="1000"  class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <h5>First Movies</h5>
                  <p>Some representative of first slide.</p>
                </div>
              </div>
              <div class="carousel-item">
                <img src="../../../assets/images/Slider.jpg" width="1000" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <h5>Second Movies</h5>
                  <p>Some representative of second slide.</p>
                </div>
              </div>
              <div class="carousel-item">
                <img src="../../../assets/images/Slider.jpg" width="1000" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <h5>Third Movies</h5>
                  <p>Some representative of third slide.</p>
                </div>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
    </div>

    <div class="col-md-4"> <!--created four col middium screen to return back to make it class="col-md-4 instead of 3"-->
        <div routerLink="/details" *ngFor="let card of cardMoviesdisplay" class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
              <div class="col-md-4">
                <img [src]="card.ImageURL" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">{{card.title}}</h5>
                  <p class="card-text">{{card.text}}</p>
                  <p class="card-text">
                    <a class="btn btn-warning">
                       <i class="bi bi-film"></i> {{card.button}}
                    </a>
                  </p>
                </div>
              </div>
            </div>
          </div>

          

         <!-- Testing it to be remove later on
          <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="../../../assets/images/card.jpg" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">This is longer.</p>
                  <p class="card-text">
                    <a class="btn btn-warning">
                       <i class="bi bi-film"></i> Trailer
                    </a>
                  </p>
                </div>
              </div>
            </div>
          </div> -->

    </div>

</div>

<br>

<div class="row">
    <h1>Fan Favorite</h1>
    <hr>
     <div class="col-md-3" *ngFor="let movie of fanFavoriteMovies" routerLink="/details" routerLinkActive="active">
        <div class="card">
           <img [src]="movie.ImageURL" class="card-image" alt="">
           <div class="card-body">
            <h5 class="card-title">{{movie.title}}</h5>
            <p class="card-text">{{movie.actor}}</p>
           </div>
           <div class="card-footer text-center text-muted">
            <span style="float: left;"> <i class="bi bi-calendar">{{movie.year}}</i></span>
            <span> <i class="bi bi-star"></i> {{movie.rank}}/10</span>
            <span style="float: right;"><i class="bi bi-trophy"></i> {{movie.trophy}}</span>
           </div>
        </div>
     </div>

     <!-- <div class="col-md-3" routerLink="/details" routerLinkActive="active">
        <div class="card">
           <img src="../../../assets/images/card.jpg" class="card-image" alt="">
           <div class="card-body">
            <h5 class="card-title">Movies Title</h5>
            <p class="card-text">Movies actors</p>
           </div>
           <div class="card-footer text-center text-muted">
            <span style="float: left;"> <i class="bi bi-calendar"></i>2024</span>
            <span> <i class="bi bi-star"></i> 9.5/10</span>
            <span style="float: right;"><i class="bi bi-trophy"></i> 1</span>
           </div>
        </div>
     </div>

     <div class="col-md-3" routerLink="/details" routerLinkActive="active">
        <div class="card">
           <img src="../../../assets/images/card.jpg"  class="card-image" alt="">
           <div class="card-body">
            <h5 class="card-title">Movies Title</h5>
            <p class="card-text">Movies actors</p>
           </div>
           <div class="card-footer text-center text-muted">
            <span style="float: left;"> <i class="bi bi-calendar"></i>2024</span>
            <span> <i class="bi bi-star"></i> 9.5/10</span>
            <span style="float: right;"><i class="bi bi-trophy"></i> 1</span>
           </div>
        </div>
     </div>

     <div class="col-md-3" routerLink="/details" routerLinkActive="active">
        <div class="card">
           <img src="../../../assets/images/card.jpg" class="card-image" alt="">
           <div class="card-body">
            <h5 class="card-title">Movies Title</h5>
            <p class="card-text">Movies actors</p>
           </div>
           <div class="card-footer text-center text-muted">
            <span style="float: left;"> <i class="bi bi-calendar"></i>2024</span>
            <span> <i class="bi bi-star"></i> 9.5/10</span>
            <span style="float: right;"><i class="bi bi-trophy"></i> 1</span>
           </div>
        </div>
     </div> -->
</div> 